@use "../utilities/variables" as v;

.proceso-seccion{
    padding: 4rem 5rem;
    background-color: #FAFAF7;
}

.lista-proceso{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.lista-proceso li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
}

.num-proceso{
    font-family: v.$fuente-texto;
    font-size: 8.5rem;
    font-weight: 700;
    color: v.$verde-oscuro;
}

.tit-proceso{
    font-family: v.$fuente-titulo;
    font-size: 2.5rem;
    font-weight: 600;
}

.parte-cliente{
    width: fit-content;
    background-color: v.$color-gris;
    font-family: v.$fuente-texto;
    font-size: 1.3rem;
    padding: 8px 13px;
    border-radius: 50px;
}