@use "../utilities/variables" as v;

.servicios-seccion{
    background-color: v.$color-fondo;
    padding: 4rem 5rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.caja-cards{
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

.tit-sec-serv{
    color: v.$titulo-importante;
}

.card-contenedor{
    padding: 3.5rem;
    background-color: #14141A;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 40px;

    transition: all 0.4s linear;

    &:hover{
        border: 2px solid v.$color-menta;
    }
}

.tit-card{
    font-family: v.$fuente-titulo;
    font-size: 3rem;
    color: #F4F4F0;
}

.desc-card{
    font-family: v.$fuente-texto;
    font-size: 1.5rem;
    font-weight: 600;
    color: #dcdcdb;
}

.item-card{
    color: #c0c0c3;
    font-family: v.$fuente-texto;
    font-size: 1.3rem;
}