// COLORES

$color-menta: #38C987;
$titulo-importante: #F4F4F0;
$link-nav: #C9C9D1;
$fondo-pildora: #0b0b0fb0;
$borde-pildora: #A9A9B5;
$texto-bt: #141413;
$color-fondo: #0B0B0F;
$color-gris: #a7a7a7;
$verde-oscuro: #0B6B43;

// FUENTES

$fuente-titulo: "Bricolage Grotesque", sans-serif;
$fuente-texto: "DM Sans", sans-serif;