@use "../utilities/variables" as v;

.link-bt{
    background-color: v.$color-menta;
    color: v.$texto-bt;
    font-family: v.$fuente-texto;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 50px;

    transition: all 0.3s linear;

    &:hover{
        background-color: #1eb16f;
    }
}

.link-bt-pro{
    color: v.$titulo-importante;
    font-family: v.$fuente-texto;
    font-size: 1.2rem;
    padding: 12px 15px;
    background-color: v.$color-fondo;
    width: fit-content;
    border-radius: 50px;
}

.link-bt-serv{
    background-color: #14141A;
    color: v.$titulo-importante;
    font-family: v.$fuente-texto;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 50px;
    border: 2px solid #2f2f31;
    width: fit-content;

    transition: all 0.3s ease-in;

    &:hover{
        background-color: #27c980;
        color: v.$color-fondo;
        transform: translateY(-5px);
        box-shadow: 0 4px 5px #095a35;
    }
}